body {
    margin: 0px;
    overflow: hidden;
    background: #fff;
}
 .love-card svg{
   position:absolute;
   width:70%;
   right:0;
   opacity:0.2;
}


.love-card p{
   color: #8a8a8a;
   line-height:1.7;
}
span{
   transition: all cubic-bezier(.55,0,.1,1) 0.4s;
   position: relative;
   top: 0px;
}
.love-card .content {
    font-family: 'Lexend Deca', sans-serif;
    font-size: 20px;
    color: black;
    z-index: 9999;
    max-width: 600px;
   min-width:320px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight:400;
   font-size: 20px;
}
.love-card .content h1{
   color:#DE0040;
       font-family: 'Poppins', sans-serif;
}
.love-card .content .author{
font-family: 'Mrs Saint Delafield', cursive;
font-size:60px}

.lover {
  font-family:'Poppins', sans-serif;
   font-size:35px;
}

.heart {
  transition: all 0.3s;
  color: #EA4646;
}
@media(max-width:786px){
   .love-card svg{
   width:100%;
   top:0;
}
.love-card .content{
  font-size:15px;
  min-width:90%;
}
.lover,
.love-card .content h1{
  font-size:150%;
}
.love-card .content .author{
    font-size:300%;
}
}
